// В этом файле должны быть стили для БЭМ-блока feedback-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback-card {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    padding: 20px 0 10px;
    display: flex;
  }

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    margin-right: 20px;
  }

  &__img {
    display: block;
    border-radius: 50%;
  }

  &__body {
    flex-grow: 1;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__desk {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
  }

  &__name {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
  }

  &__date {
    flex-shrink: 0;

    span {
      color: #a9a9a9;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
