// В этом файле должны быть стили для БЭМ-блока layout-checkout, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-checkout {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    max-width: 752px;
  }

  &__part {
    padding: 10px 0 25px;

    &.bb {
      border-bottom: 1px solid $border-color;
    }
  }

}
