// В этом файле должны быть стили для БЭМ-блока field-user, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-user {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    margin-right: 20px;
  }

  &__img {
    display: block;
    border-radius: 50%;
  }

  &__name-wrap {

  }

  &__name {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  &__change-link {
    color: #0c5482;
    font-size: 14px;
    line-height: 1.4;
  }
}
