// В этом файле должны быть стили для БЭМ-блока layout-feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-feedback {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    max-width: 752px;
  }

  &__list {
    .feedback-card {
      border-top: 1px solid $border-color;
    }

    &:last-child {
      border-bottom: 1px solid $border-color;
    }
  }
}
