// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.stocks-cards-list,
.popular-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.card {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  // align-items: center;
  min-width: 262px;
  flex-basis: 292px;
  padding: 0 15px;
  margin-bottom: 30px;

  &__inner {
    flex-grow: 1;
    position: relative;
    display: flex;
    // align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    margin-bottom: 20px;
  }

  &__img {
    display: block;
    border-radius: 2px;
  }

  &__title {
    margin: 0 0 20px;
    font-weight: 400;

    a {
      color: #0c5482;
      text-decoration: none;
    }
  }

  &__new {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background: $color-success;
    transform: translateX(-50%) rotate(-10deg);
  }

  &__price {
    flex-shrink: 0;
    margin: auto 0 0;
    color: #050505;
    font-size: $font-size--h5;
    font-weight: 700;
    line-height: 1;
  }

  &__price-sale {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 500;
  }

  &__buy {
    flex-shrink: 0;
  }

  &--sm {
    min-width: 164px;
    flex-basis: 194px;

    #{$block-name}__inner {

    }
  }
}
