// В этом файле должны быть стили для БЭМ-блока top-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-menu {

  $block-name:                &; // #{$block-name}__element

  list-style: none;
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 11px 0;

  &__item {
    margin-right: 30px;
  }

  &__link {
    font-size: 13px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
  }
}
