// В этом файле должны быть стили для БЭМ-блока field-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-box {

  $block-name:                &; // #{$block-name}__element

  border-radius: 2px;
  background-color: #d8eef9;
  padding: 20px;
}
