// В этом файле должны быть стили для БЭМ-блока partners-pay, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners-pay {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: 14px;
    font-weight: 400;
    color: #8f9395;
  }

  &__links {

    display: flex;
    align-items: center;

    a {
      margin-right: 20px;

      &:hover {
        .ps-logo {
          fill: #ff8c00;
        }
      }
    }

    .ps-logo {
      fill: #7d7f80;
    }
  }

}
